<div class="row mb-1">
  <div class="col-md-10 col-lg-11">
    <button type="button" class="btn btn-secondary btn-block text-left" (click)="toggleComplete()">
      <span *ngIf="task.complete"><i class="fa fa-check-square-o"></i></span>
      <span *ngIf="!task.complete"><i class="fa fa-square-o"></i></span>

      &nbsp;
      <span *ngIf="!task.complete">{{task.title}}</span>
      <span *ngIf="task.complete"><del>{{task.title}}</del></span>
    </button>
  </div>

  <div class="col-md-2 col-lg-1">
    <button class="btn btn-danger btn-block" (click)="destroy()">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>
