<article class="card bg-light mb-3" *ngIf="checklist">
  <div class="card-header">
    <h1 class="h5 mb-0">{{checklist.title}}</h1>
  </div>

  <div class="card-body">
    <ul class="list-unstyled mb-0">
      <li>Tasks Complete: {{completedTaskCount}} / {{checklist.tasks.length}}</li>
      <li><small>Created: {{relativeDate}}</small></li>
    </ul>
  </div>

  <div class="card-footer">
    <p class="mb-0">
      <a href="#" class="btn btn-primary">Edit</a>

      <button class="btn btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </p>
  </div>
</article>
