<app-form-bootstrap [onSubmit]="login">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"
           id="email"
           class="form-control"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,20}$"
           required
           [(ngModel)]="user.email"
           name="email">
    <div class="invalid-feedback">
      Please provide a valid email
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           id="password"
           class="form-control"
           required
           minlength="8"
           [(ngModel)]="user.password"
           name="password">
    <div class="invalid-feedback">
      Please provide a valid password
    </div>
  </div>

  <p>
    <button
      class="btn btn-primary"
      type="submit">
      Login
    </button>
  </p>

</app-form-bootstrap>
